node_modules/
.env
.env.local
*.log
.gitpush.md
Flow_Script.md
test.ts
out/suricata/rules/*.rules
suricata/.env
suricata/log/*
!suricata/log/.gitkeep
suricata/rules/*
!suricata/rules/.gitkeep
.device_id